<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!--
      Neue Helvetica is a trademark of Monotype Imaging Inc. registered in the U.S.
      Patent and Trademark Office and may be registered in certain other jurisdictions.
      Copyright © 2014 Monotype Imaging Inc. All rights reserved.
      Orange Company had buy the right for used Helvetica onto digital applications.
      If you are not autorized to used it, don't include the orangeHelvetica.css
      See NOTICE.txt for more informations.
    -->
    <link rel="stylesheet" href="~/css/orangeHelvetica.css" />
    <!--
      Orange Icons
      Copyright (C) 2016 - 2018 Orange SA All rights reserved
      See NOTICE.txt for more informations.
    -->
    <link rel="stylesheet" href="~/css/orangeIcons.css" />

    <!-- Boosted CSS -->
    <link rel="stylesheet" href="~/css/boosted.css">

    <title>Phone Choice Helper</title>
</head>
<body>
    <h1>Phone Choice Helper !</h1>

    <main id="content" role="main">
        My page content start here, and you may have a look to <a href="~/swagger">APIs</a>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Boosted JS. -->
    <script src="~/scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/scripts/boosted.min.js"></script>
</body>
</html>