@{
    ViewBag.Title = "Home";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Phone choice helper</h1>
    <p class="lead">Quickly data analysis to learn about a device on wich you want more information. Pick from above options a way to retrieve content.</p>
</div>

<div class="container">
    <div class="card-deck text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">NFC</h4>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="~/img/NFC_tag.png" alt="Card image cap">
                <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal" data-target="#nfcModalCenter">Try it</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Photo</h4>
            </div>
            <div class="card-body upload">
                <img class="card-img-top" src="~/img/Camera.png" alt="Card image cap">
                <input id="file" type="file" accept="image/*" class="browse" capture="camera">
                <button id="file-select-button" type="button" class="btn btn-lg btn-block btn-primary browse">Try it</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Djingo</h4>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="~/img/Microphone.png" alt="Card image cap">
                <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal" data-target="#djingoModalCenter">Try it</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="nfcModalCenter" tabindex="-1" role="dialog" aria-labelledby="nfcModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nfcModalLongTitle">NFC</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="lead">This mode will be enabled while appairing another device with yours.<br />Be sure to check NFC compability previously on both devices</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="djingoModalCenter" tabindex="-1" role="dialog" aria-labelledby="nfcModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nfcModalLongTitle">NFC</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="lead">Ok Djingo : This mode will be activated sooner.<br />Be patient to be able exchanging with your personal assistant that learns and helps you day to day.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#file-select-button').click(function () {
                $('.upload input').click();
            });

            var reader = new FileReader();
            reader.onload = function (e) {
                text = reader.result;

                $.post("/api/shopitem", {
                        SerializedImage: text
                }).done(function (data) {
                    window.location.href = "/shop/item/" + data.Id;
                }).fail(function () {
                    alert("Sorry. Server unavailable. ");
                }); 
            }

            reader.onerror = function (err) {
                console.log(err, err.loaded, err.loaded === 0, file);
            }

            reader.onprogress = function (e) {
                console.log(e, e.lengthComputable, e.loaded, e.total);
            }

            $('.upload input').on("change", function (e) {
                e.preventDefault();
                var file = document.querySelector('.upload input').files[0];
                reader.readAsDataURL(file);
            });
        });
</script>
}
