<footer class="o-footer" role="contentinfo">
    <div class="o-footer-body">
        <div class="container">
            <ul class="nav">
                <li class="nav-item"><span class="nav-link">Currently v1.0</span></li>
                <li class="nav-item"><a class="nav-link" href="https://github.com/OSTEPHAN/PhoneChoiceHelper">GitHub</a></li>
            </ul>
        </div>
    </div>
</footer>
